[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "thirdparty/FarManager"]
	path = thirdparty/FarManager
	url = https://github.com/FarGroup/FarManager
[submodule "thirdparty/ObserverManager"]
	path = thirdparty/ObserverManager
	url = https://github.com/fnz/ObserverManager.git
[submodule "thirdparty/librespot"]
	path = thirdparty/librespot
	url = https://github.com/librespot-org/librespot.git
[submodule "thirdparty/generator"]
	path = thirdparty/generator
	url = https://github.com/lewissbaker/generator.git
