[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "thirdparty/FarManager"]
	path = thirdparty/FarManager
	url = https://github.com/FarGroup/FarManager
[submodule "thirdparty/ObserverManager"]
	path = thirdparty/ObserverManager
	url = https://github.com/fnz/ObserverManager.git
